/******search.jsp*********************/
#searchResult{margin:0;padding:15px 20px;text-align:left;}
#searchResult .result{margin-bottom:15px;}
#searchResult .result .top{font-weight:bold;color:#075181;}
#searchResult .result .top,#searchResult .result .center{padding:4px 0;}
#searchResult .result .center .tips,#searchResult .result .center .list{padding:4px 0;}
.result .list .title{font-size:13px;}
.result .list span{font-size:15px;font-style:italic;color:#075181;}
.result .list .title,.result .list .cont,.result .list .author,
.result .list .url,.result .list .info,.result .list .desc,.result .list .other{padding:5px 0;}
.result .list .url img{border:1px solid #68ADD5;}
.result .list .other{border-top:1px solid #bbb;text-align:right;}
/****---articleList.jsp----************/
#atop{margin:0;padding:0;width: 500px;color:#075181;}
#atop .to1{float:left;width:245px;text-align:left;font-weight:bold;}
#atop .to2{float:left;width:250px;text-align:right;}
#atop .to1 span{color:red;}
#no_article{font-size:14px;margin-top:20px;}
#alist .atit{margin-top:10px;}
#alist .aopr{margin-bottom:10px;}
#alist .atime,#alist .acon,#alist .all{margin:6px 0;margin: 6px 0;
max-height: 97px;
overflow: hidden;}
#alist .atit{font-size:14px;}
#alist .aopr{border:1px solid #eaeeef;width:498px;height:27px;border-left:5px solid #68ADD5;;background:#eaf7ff;}
#alist .aopr .op{margin-left:5px;padding-top:4px;}
#alist .aopr a,#alist .all a{text-decoration:underline;}
#alist a:hover{color:#68ADD5;}

img{border:none;}
form{margin:0;padding:0;}

/**********************/
#yboder{border:1px dashed #bfdcea;width: 200px;margin-bottom:15px;}
#ytype{padding:10px;}

.aty{margin-bottom:10px;clear:both;}

.aty .ty1{float:left;width:85px;text-align:left;font-weight:bold;color:#075181;}
.aty .ty2{float:right;width:65px;text-align:right;}
br{clear:both;}
textarea,input{font-size:12px;}
textarea{overflow:auto;}

#ylist ul li{line-height: 25px;}

#acomment{padding:10px;}
#acomment span{color:#075181;}
#acomment .author{margin-top:5px;}
#acomment .author span{color:#68ADD5;;}
#acomment .cont{margin-bottom:10px;}
#acomment a{text-decoration:underline;color:#888;}
#acomment a:hover{text-decoration:underline;color:#075181;}
/*********/

/**********deatil.jsp******************************/
#detial{margin:0 20px;padding-top:15px;width:718px;}
#detial #dtop{color:#075181;margin-bottom:15px;}
#detial #dtop .do1{float:left;width:355px;text-align:left;font-weight:bold;}
#detial #dtop .do2{float:right;width:355px;text-align:right;}
#detial .tit{font-size:14px;text-align:center;color:black;}
#detial .time{text-align:center;}
#detial .date{text-align:left;}
#detial .tit,#detial .time,#detial ,cont,#detial .date{padding:8px 0;}

#detial .span_title,#publish_comment .span_title{font-size:14px;font-weight:bold;padding-bottom:5px;}
.info{margin:0;}
.info .num,.info .user,
.info .dc_time,.info .op{
	float:left;padding:5px 10px;	
}
.info .num{font-size:14px;color:#075181;font-style:italic;}
.com_cont{margin:0px 200px 5px 49px;}

#publish_comment{padding:5px 10px 10px 10px;}

#publish_comment .user,#publish_comment .userNum,
#publish_comment .word,#publish_comment .sub,
#publish_comment .varcodeinput,#publish_comment .varcode{
	padding:10px 0;
}
#publish_comment .word{padding:0 0 0 42px;}
#publish_comment .sub{padding-left:10px;}
#publish_comment .error{padding-left:42px;color:red;}
#publish_comment .varcode{padding-left:42px;}
#publish_comment .userNum span{padding:0 10px;font-style:italic;color:#075181;}

/******albumlist.jsp***************************************/
#albumshow{margin:0;padding:15px 10px;}
#albumtop{}
#albumtop .left{width:100px;float:left;text-align:left;}
#albumtop .right{width:200px;float:right;text-align:right;}

#albumcenter{padding:10px 0 0 0;margin:0 10px;}
#albumcenter ul{margin:0;padding:0;list-style:none;}
#albumcenter ul li{maring:0;padding:10px 0 0 0;list-style:none;float:left;width:160px;text-align:center;}
#albumcenter ul li img{border:1px solid #68ADD5;}

.ls{background:url("../images/framels.jpg") no-repeat center;}
.pt{background:url("../images/framept.jpg") no-repeat center;}

.ls img{margin:0;height:90px;width:135px;}
.pt img{margin:0;height:135px;width:90px;}

.ls{display:block;padding:34px 14px 36px 11px;}
.pt{display:block;padding:11px 36px 14px 34px;}
.ls:hover{background:url("../images/framels_hover.jpg") no-repeat center;}
.pt:hover{background:url("../images/framept_hover.jpg") no-repeat center;}
.aname{width:150px;overflow:hidden;color:#666;}
#albumcenter .aop{padding:0 5px;}

/*******imgListshow.jsp***********************************/
#albumshow2{margin:0;padding-top:10px;}
#albumshow2 ul li img{border:1px solid #68ADD5;}
#album_left{float:left;width:220px;}
#album_left .album_left_top{text-align:center;}
#album_left .album_left_top .left{float:left;width:80px;}
#album_left .album_left_top .right{float:right;width:100px;}
#album_left ul{margin:0;padding:0 10px;list-style:none;}
#album_left ul li{maring:0;padding:10px 0 0 0;list-style:none;float:left;width:160px;text-align:center;}

#img_right{float:right;width:500px;}
#img_right .img_right_top{}
#img_right .img_right_top .left{float:left;width:250px;text-align:left;}
#img_right .img_right_top .right{float:right;width:100px;text-align:right;}
#img_right .img_right_top .desc{width:490px;float:left;padding:5px 0;}
#img_right ul{margin:0;padding:0;list-style:none;}
#img_right ul .no_pic{font-size:14px;display:block;padding-top:13px;}
#img_right ul li{maring:0;padding:15px 20px 0 30px;list-style:none;float:left;width:160px;text-align:center;}
#img_right ul li img{width:180px;height:120px;}
#img_right ul li .name,#img_right ul li .size{width:180px;overflow:hidden;color:#666;text-align:center;float:left;}
#img_right .page{padding:20px 40px;}

/*******imgUpload.jsp******************************************/
#imgupload{margin:0;padding:15px 10px;}
#imgupload .uptop{margin-bottom:10px;}
#imgupload .uphide{border-top:1px dotted #666;padding:18px;text-align:right;}
#imgupload .errorMessage{color:red;}
.onefile{border-top:1px dotted #666;padding:18px;margin:0px;height:70px;}
.onefile .file,.onefile .desc{padding:0 30px;}
.onefile .file{float:left;width:200px;padding-top:23px;}
.onefile .preview{float:left;width:70px;height:70px;border:1px solid #999;}
.onefile .preview img{width:70px;height:70px;}
.onefile .desc{float:left;width:100px;}
.onefile .desc textarea{width:150px;height:52px;font-size:12px;}
.onefile .error{color:red;padding-top:5px;}
#imgupload .cat select{width:120px;}
#imgupload .error{padding:10px 0 0 53px;color:red;}
#imgupload .sub{padding:15px 0 0 23px;}
#imgupload .sub input{width:60px;}

/********imgShow.jsp******************************************/
#imgshow{margin:0;padding:15px 20px;}
#imgshow .top{}
#imgshow .top .topleft{float:left;width:160px;text-align:left;font-weight:bold;}
#imgshow .top .topleft .up{font-weight:normal;}
#imgshow .top .topright{float:right;width:100px;text-align:right;}
#imgshow .show{padding-top:10px;}
#imgshow .show .showleft{float:left;width:550px;height:400px;text-align:center;border:1px solid #ccc;margin-right:15px;}
#imgshow .show .showright{float:left;width:145px;text-align:left;}
/***left***/
#imgshow .show .showleft img{}
/**right**/
#imgshow .show .showright .desc,#imgshow .show .showright .info,
		#imgshow .show .showright .time{line-height:18px;padding:5px 0;}

/***op***/
#imgshow .op{margin-top:10px;float:left;width:550px;text-align:center;}

/********profile.jsp******************************************/
#profile{margin:0;padding:15px 20px;text-align:left;}
#profile .pro_left{float:left;width:425px;padding-right:5px;border-right:1px solid #eee;}
#profile .pro_right{float:right;width:272px;}

		 .pro_left .one{margin-bottom:15px;}
		 .pro_left .top .top_left{float:left;width:80px;text-align:left;font-weight:bold;color:#075181;}
		 .pro_left .top .top_right{float:right;width:80px;text-align:right;}

#profile .pro_left .referance{padding:8px 0 0 10px;}
		 .pro_left .referance .re{line-height:25px;padding:3px 10px 0 3px;}
		 .pro_left .referance .re span{color:#555;}
		 .pro_left .leave_msg{padding-top:8px;}
		 .pro_left .leave_msg .com_cont{margin:0px 10px 5px 49px;}
		 		   .more{padding:15px 10px 0px 10px;}

#profile .pro_right .two{margin-bottom:15px;}
		 .pro_right .two .top{padding-bottom:10px;}
		 .pro_right .top .top_left{float:left;width:80px;text-align:left;font-weight:bold;color:#075181;}
		 			.top .top_right{float:right;width:180px;text-align:right;}
		 			.aboutme{border:1px solid #68ADD5;}
		 			.latesta{padding:5px 10px 0 0;}
					.latesta .title{}
					.latesta .title span{color:#68ADD5;}
					.latesta .cont{margin-bottom:10px;}
					.latesta a{text-decoration:underline;color:#888;}
					.latesta a:hover{text-decoration:underline;color:#075181;}
					
/*****leavemsgShow.jsp****************/
#msgshow{margin:0;padding:15px 20px;text-align:left;}
		.top .title,.bottom .title{font-weight:bold;color:#075181;}
		.net_msg{margin-top:10px;}
		.net_msg .com_cont{margin:0px 80px 5px 49px;}